
<div class="container-fluid  sidebar">
    <div class="row">
        <table>
            <ul>
                <li class="mt-3 mb-3"><a routerLink="home"><span><i class="fas fa-home mr-2"></i></span>Bảng điều khiên</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-sticky-note mr-2"></i></span>Đơn hàng</a></li>
                <li class="mt-3 mb-3"><a routerLink="all"><span><i class="fas fa-cart-plus mr-2"></i></span>Tất cả sản phẩm</a></li>
                <li class="mt-3 mb-3"><a routerLink="cat"><span><i class="fas fa-calendar-alt  mr-2"></i></span>Các danh mục sản phẩm</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-user-friends mr-2"></i></span>Danh sách khách hàng</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-table mr-2"></i></span>Báo cáo</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-clock mr-2"></i></span>Thao tác gần đây</a></li>
                <li class="mt-3 mb-3"><a href="">BÁO CÁO GẦN ĐÂY<span><i class="fas fa-plus-circle ml-2"></i></span></a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-file-alt mr-2"></i></span>Tháng này</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-file-alt mr-2"></i></span>Quý này</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-file-alt mr-2"></i></span>Thị trường</a></li>
                <li class="mt-3 mb-3"><a href=""><span><i class="fas fa-file-alt mr-2"></i></span>Dự án cuối năm</a></li>
            </ul>
        </table>
    </div>
</div>