
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}
table{
    background-color: #f8f9fa;
   border-right:1px solid rgb(224, 212, 212) ;
}
ul {
    list-style: none;
    padding: 20px;
  
}
ul li{
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    text-transform: none;
    color: black;
}
