/* * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} */
.right{
    margin-top: 2%;
}
.aicon {
    margin-left: 20%;
}
.aicon a{
    margin-right: 50px;
}
a{color:rgba(77, 77, 77, 1)
}